<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(ErrorLayout)">
                <h1 class="display-1">404</h1>
                <h1 class="display-4">Not Found</h1>
                <p class="lead">
                    Oops! Looks like this page doesn't exist.
                </p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
