<tr>
    <td>@Item.Title</td>
    <td>@Item.Minutes</td>
    <td>
        <button type="button" class="btn btn-success btn-sm float-right" @onclick="AddMinute">
            + Add Minutes
        </button>
        <button type="button" class="btn btn-success btn-sm float-right" @onclick="SubtractMinute">
            - Subtract Minutes
        </button>
    </td>
</tr>