@page "/"
@inject NavigationManager nvm
@using Blazor.Login.Library.Demo

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>

        <p>Welcome to Blazor Learner</p>

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>

<h4>Showing Image from a Component available inside Class Library</h4>

<BlazorLogo></BlazorLogo>

<h4>Showing Image directly from Class Library</h4>

<img src="_content/Blazor.Login.Library.Demo/images/blazor_logo.jpg" alt="Blazor Logo" />

<h3>Navigation Manager</h3>
<br />

<p>@nvm.Uri</p>
<p>@nvm.BaseUri</p>

<button class="btn btn-primary" @onclick="GoToHome">
    Home Page
</button>

<button class="btn btn-primary" @onclick="GoToCounter">
    Counter Page
</button>

@code {
    private void GoToHome()
    {
        nvm.NavigateTo("/");
    }

    private void GoToCounter()
    {
        nvm.NavigateTo("counter");
    }
}